# CA backend
caBackend: EasyRsa3Ca

# EasyRsa3Ca Configuration
EasyRsa3Ca:
    easyRsaPath: /usr/share/easy-rsa/3
    caPath: /var/lib/vpn-config-api/easy-rsa
    openVpnPath: /usr/sbin/openvpn
    CA:
        key_size: '4096'
        ca_expire: '1826'
        cert_expire: '365'
        ca_cn: VPN CA

# API credentials
api:
    vpn-user-portal:
        scope: issue_client revoke_client list
        token: abcdef
    vpn-admin-portal:
        scope: list
        token: fedcba
    vpn-server-api:
        scope: issue_server crl
        token: aabbcc
